<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GreenClassify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="logo">GreenClassify.com</div>
    <div class="nav-links">
        <a href="#about">About</a>
        <a href="/prediction">Prediction</a>
        <a href="#contact">Contact</a>
    </div>
</div>

<!-- HERO SECTION -->
<div class="hero">
    <div class="hero-overlay">
        <h1>Vegetable Image<br>Classification</h1>
    </div>
</div>

<!-- ABOUT US -->
<div class="section" id="about">
    <h2>ABOUT US</h2>
    <p>
        GreenClassify is a specialized platform solely focused on the task of vegetable image classification. We utilize advanced machine learning algorithms and maintain a vast database to provide precise and dependable classification results for a wide variety of vegetables. Our aim is to simplify the process of identifying vegetables by leveraging the power of image recognition technology. Whether you are a chef, a nutritionist, or a vegetable enthusiast, VeggieVisions is your go-to resource for accurately categorizing vegetables and expanding your understanding of their diverse characteristics. Join us on this platform to explore the world of vegetable classification and unlock a deeper appreciation for the rich tapestry of edible plants.
    </p>
</div>

<!-- CONTACT -->
<div class="section dark" id="contact">
    <h2>CONTACT US</h2>
    <p>
        <Email:->Email:-todkarvishwanath72@gmail.com</Email:->
    </p>
</div>

</body>
</html>
